<h1>Forgotten password</h1>
<p>
Hi <%=@email%>!

You requested a password reset. To reset your password click this fake link below:
<a href="http://www.google.com">Reset my password Yo.</a>
</p>

Thanks homiez!
